[submodule "deps/ecp5-soc"]
	path = deps/ecp5-soc
	url = git@github.com:bboydt/ecp5-soc.git
[submodule "deps/scons-fpga"]
	path = deps/scons-fpga
	url = https://github.com/bboydt/scons-fpga.git
[submodule "deps/syzygy"]
	path = deps/syzygy
	url = https://github.com/SYZYGYfpga/pcb-templates.git
[submodule "deps/neorv32"]
	path = deps/neorv32
	url = https://github.com/stnolting/neorv32.git
[submodule "deps/scons-dfu"]
	path = deps/scons-dfu
	url = https://github.com/bboydt/scons-dfu.git
